.headerOption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    cursor: pointer;
    margin: 1px 10px;
}

.headerOption:hover{
    color: black;
}

.headerOption__icon{
    height: 20px !important;
    width: 20px !important;
}